@import "tailwindcss";

.bg-gradient-text {
  @apply bg-gradient-to-r from-blue-500 via-purple-600 to-pink-500  bg-clip-text text-transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #364153 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
